{% for work in site.data.publications.works %}
{% if work.bodies_of_work contains include.body and work.themes contains include.theme %}
{% assign english_edition = work.editions | where: "lang", "en" | first %}
{% assign persian_edition = work.editions | where: "lang", "fa" | first %}
- **{{ work.content_type | replace: "-", " " | capitalize }}:** {% if english_edition %}[{{ english_edition.title }}]({{ english_edition.url }}){% if persian_edition %} (<bdi dir="rtl"><a href="{{ persian_edition.url }}" lang="fa" hreflang="fa" rel="alternate">نسخه‌ی فارسی</a></bdi>){% endif %}{% elsif persian_edition %}[{{ persian_edition.title }}]({{ persian_edition.url }}) (<bdi dir="rtl" lang="fa">نسخه‌ی فارسی</bdi>){% endif %} — {{ work.summary }}
{% endif %}
{% endfor %}