{% for work in site.data.publications.works %}
{% if work.bodies_of_work contains include.body and work.themes contains include.theme %}
{% assign content_type = site.data.publications_fa.content_types[work.content_type] | default: work.content_type %}
{% assign localized_summary = site.data.publications_fa.summaries[work.id] | default: work.summary %}
{% assign persian_edition = work.editions | where: "lang", "fa" | first %}
{% assign english_edition = work.editions | where: "lang", "en" | first %}
- **{{ content_type }}:** {% if persian_edition %}[{{ persian_edition.title }}]({{ persian_edition.url }}){% if english_edition %} { ([English Version]({{ english_edition.url }})) | ltr }{% endif %}{% elsif english_edition %}{ [{{ english_edition.title }}]({{ english_edition.url }}) (English Version) | ltr }{% endif %} — {{ localized_summary }}
{% endif %}
{% endfor %}
