<div class="audio-player">
    <button id="play-pause-{{ include.id }}" class="play-pause paused play-icon"></button>
    <span id="current-time-{{ include.id }}" class="time">00:00</span>
    <div id="progress-container-{{ include.id }}" class="progress-container">
        <div id="progress-{{ include.id }}" class="progress"></div>
        <div id="progress-thumb-{{ include.id }}" class="progress-thumb"></div>
    </div>
    <span id="duration-{{ include.id }}" class="time">00:00</span>
    <button id="mute-unmute-{{ include.id }}" class="mute-unmute unmuted"></button>
    <div id="volume-container-{{ include.id }}" class="volume-container">
        <div id="volume-progress-{{ include.id }}" class="volume-progress"></div>
        <div id="volume-thumb-{{ include.id }}" class="volume-thumb"></div>
    </div>
</div>
<audio id="audio-{{ include.id }}" src="{{ include.src }}"></audio>

<script>
    audioPalyer("{{ include.id }}");
</script>
