---
layout: default
---

{% capture course_support_text %}
    {% if page.course_support %}
        {{ page.course_support }}
    {% else %}
        OkBayat
    {% endif %}
{% endcapture %}

<h1 class="no_toc">{{ page.course_title }}</h1>

<p class="fs-5 mb-2">ما به شما این قول جسورانه را می‌دهیم:</p>

<p class="fs-6 mt-0 text-center"><em>"{{ page.course_promise }}"</em></p>

<strong class="fs-4 text-blue-000">
    <small>هزینه‌ی شرکت در دوره:</small>
    {{ page.course_tuition }}
</strong>

{% if page.course_state == 'registering' %}
    <p class="label label-green">در حال ثبت‌نام</p>
{% elsif page.course_state == 'inProgress' %}
    <p class="label label-yellow">در حال برگزاری</p>
{% elsif page.course_state == 'end' %}
    <p class="label label-red">پایان دوره</p>
{% endif %}

<p><em>همه‌ی راهبران واقعی، ساخته می‌شوند، راهبر به دنیا نمی‌آیند. حتی کسانی که برای راهبری به دنیا می‌آیند، اگر خودشان را به عنوان راهبر توسعه ندهند، با شکست مواجه خواهند شد، یعنی اگر بر راهبر بودن و اِعمال موثر راهبری تسلط پیدا نکنند، در راهبری شکست می‌خورند.</em></p>

<p class="my-2">
    <strong>تجربه‌ساز: </strong>
    <a href="https://www.okbayat.com/resume">محمد بیات</a>  بنیانگذار K2-Group
</p>

{% if page.course_support %}
    <p class="my-2">
        <strong>تسهیلگر: </strong>
        {{ page.course_facilitator }}
    </p>
{% endif %}

<p class="my-2">
    <strong>محل برگزاری دوره: </strong>
    {{ page.course_venue }}
</p>

<p class="my-2">
    <strong>تقویم دوره: </strong>
    {{ page.course_calendar }}
</p>

<p class="my-2">
    <strong>تعداد جلسات: </strong>
    {{ page.course_sessions }} جلسه
</p>

<p class="my-2">
    <strong>حد نصاب شرکت‌کنندگان: </strong>
    {{ page.course_quorum }} نفر
</p>

{% if page.course_support %}
    <p class="my-2">
        <strong>هزینه برای دانش‌آموزان و دانشجویان: </strong>
        {{ page.course_tuition_off }}
    </p>
{% endif %}

<p class="my-2">
    <strong>امکان پرداخت اقساط: </strong>
    جهت پرداخت اقساطی می‌توانید با شناسه‌ی <span dir="ltr"><a href="https://t.me/{{course_support_text | strip}}"> @{{course_support_text | strip}}</a></span> در تلگرام در ارتباط باشید.
</p>

<!-- <p>
    </strong>اعتبار تحصیلی: </strong>
    دانشجویان و دانش‌آموزان می‌توانند جهت استفاده از اعتبار ۵۰ درصدی ثبت‌نام، با اکانت تلگرام <span dir="ltr"><a href="https://t.me/OKBayat">@OkBayat</a></span> در ارتباط باشید.
</p> -->

<p>ثبت‌نام و حضور شما در این دوره به منزله پذیرش و انتخاب قول و قوانین دوره می‌باشد.</p>

<p>جهت ثبت‌نام شما می‌توانید با شناسه‌ی <span dir="ltr"><a href="https://t.me/{{course_support_text | strip}}"> @{{course_support_text | strip}}</a></span> در تلگرام در ارتباط باشید.</p>

<hr>

{{ content }}

<a href="#">قوانین انصراف از دوره</a>
